In [ ]:
""" Q.1
MongoDB is an open-source document-oriented database that is designed to store a large scale of data and also allows us to work with that data very efficiently. It is categorized under the NoSQL (Not only SQL) database because the storage and retrieval of data in the MongoDB are not in the form of tables.
MongoDB environment gives us a server that we can start and then create multiple databases on it using MongoDB.
Because of its NoSQL database, the data is stored in the collections and documents. Hence the database, collection, and documents are related to each other.

A non-relational database stores data in a non-tabular form, and tends to be more flexible than the traditional, SQL-based, relational database structures.
It is used when large quantities of complex and diverse data need to be organized.
For example, a large store might have a database in which each customer has their own document containing all of their information, from name and address to order history and credit card information. Despite their differing formats, each of these pieces of information can be stored in the same document.
Non-relational databases are therefore ideal for storing data that may be changed frequently or for applications that handle many different kinds of data. They can support rapidly developing applications requiring a dynamic database able to change quickly and to accommodate large amounts of complex, unstructured data.


Some general scenarios where MongoDB might be preferred over SQL database are:
* When the data is unstructured, heterogeneous, or rapidly changing, MongoDB offers more flexibility and scalability than SQL database. MongoDB can store any type of data in JSON-like documents, without requiring a predefined schema or data model.
* When the application needs to handle large volumes of data or perform real-time analytics, MongoDB can provide better performance and availability than SQL database. MongoDB supports horizontal scaling through sharding, which allows distributing data across multiple servers. MongoDB also supports various indexing options and aggregation frameworks to optimize queries and data processing.
* When the application needs to integrate with other technologies or platforms, MongoDB can offer more compatibility and interoperability than SQL database. MongoDB supports various programming languages and drivers, as well as cloud services and tools14. MongoDB also has a rich ecosystem of third-party tools and frameworks that can enhance its functionality and usability.

In [93]:
    """ Q.2
    Some of the features of MongoDB are:

    1. Document-oriented : MongoDB stores data as documents, which are JSON-like objects that can have any number of fields and values. Documents are grouped in collections, which do not require a fixed schema or data modeL. This allows for more flexibility and scalability than relational databases, which store data in rigid tables and columns.
    2. Sharding :MongoDB supports horizontal scaling by distributing data across multiple servers or shards. Sharding enables MongoDB to handle large volumes of data and high throughput without compromising performance or availability. Sharding also provides load balancing and fault tolerance, as each shard can operate independently and replicate data to other shards.
    3. Replication :MongoDB supports high availability by replicating data across multiple servers or nodes. Replication ensures that data is always accessible and consistent, even in the event of network failures or hardware issues. Replication also provides backup and recovery options, as well as disaster recovery solutions.
    4. Indexing : MongoDB supports various indexing options to optimize queries and data access. Indexes can be created on any field or combination of fields in a document, and can be customized to suit different use cases and query patterns. Indexes can also be used to enforce uniqueness constraints, sort results, and support geospatial queries.
    5. Aggregation : MongoDB supports various aggregation frameworks and tools to process and analyze data. Aggregation operations can perform complex transformations and calculations on documents, such as grouping, filtering, sorting, joining, projecting, and aggregating."""

' Q.2\nSome of the features of MongoDB are:\n\n1. Document-oriented : MongoDB stores data as documents, which are JSON-like objects that can have any number of fields and values. Documents are grouped in collections, which do not require a fixed schema or data modeL. This allows for more flexibility and scalability than relational databases, which store data in rigid tables and columns.\n2. Sharding :MongoDB supports horizontal scaling by distributing data across multiple servers or shards. Sharding enables MongoDB to handle large volumes of data and high throughput without compromising performance or availability. Sharding also provides load balancing and fault tolerance, as each shard can operate independently and replicate data to other shards.\n3. Replication :MongoDB supports high availability by replicating data across multiple servers or nodes. Replication ensures that data is always accessible and consistent, even in the event of network failures or hardware issues. Replication also provides backup and recovery options, as well as disaster recovery solutions.\n4. Indexing : MongoDB supports various indexing options to optimize queries and data access. Indexes can be created on any field or combination of fields in a document, and can be customized to suit different use cases and query patterns. Indexes can also be used to enforce uniqueness constraints, sort results, and support geospatial queries.\n5. Aggregation : MongoDB supports various aggregation frameworks and tools to process and analyze data. Aggregation operations can perform complex transformations and calculations on documents, such as grouping, filtering, sorting, joining, projecting, and aggregating.'

In [ ]:
# Q.3
#https://www.mongodb.com/

In [ ]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://PWSKILLS:PWSKILLS@cluster0.nzjjypu.mongodb.net/?retryWrites=true&w=majority")
db=client.test

In [ ]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.4.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (603 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 603.6/603.6 kB 2.2 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.4.1-py3-none-any.whl (300 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 300.3/300.3 kB 16.3 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.4.1 pymongo-4.4.1

In [ ]:
db

Database(MongoClient(host=['ac-dqxf0yj-shard-00-01.nzjjypu.mongodb.net:27017', 'ac-dqxf0yj-shard-00-00.nzjjypu.mongodb.net:27017', 'ac-dqxf0yj-shard-00-02.nzjjypu.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-cjhhh8-shard-0', tls=True), 'test')

In [ ]:
client = pymongo.MongoClient("mongodb+srv://PWSKILLS:PWSKILLS@cluster0.nzjjypu.mongodb.net/?retryWrites=true&w=majority")

In [ ]:
db=client['student']

In [ ]:
collection=db["record"]

In [ ]:
# Q.4

In [71]:
data= {"name":"mahima",
       "id":'101',
       "class":"data science"}

In [72]:
collection.insert_one(data)  #Inserting a record using insert_one()

In [73]:
collection.find_one()  #Printing the record using find_one()

{'_id': ObjectId('64c770f8fff3b92bc0bc1c57'), 'name': 'mona', 'age': '20'}

In [74]:
data1=[{"name":"nilima",
       "id":'102',
       "class":"dsa"},
       {"name":"vasudha",
        "id":'103',
        "class":"web dev"},
       {"name":"harsh",
        "id":'104',
        "class":"data anlytics"}]

In [75]:
collection.insert_many(data1)   #Inserting no of records using insert_many()

In [76]:
for i in collection.find():     #Printing the records using find()
  print(i)

{'_id': ObjectId('64c770f8fff3b92bc0bc1c57'), 'name': 'mona', 'age': '20'}
{'_id': ObjectId('64c770f8fff3b92bc0bc1c58'), 'name': 'sona', 'age': '12'}
{'_id': ObjectId('64c770f8fff3b92bc0bc1c59'), 'name': 'samir', 'age': '26'}
{'_id': ObjectId('64c77223fff3b92bc0bc1c5a'), 'name': 'mona', 'age': 20}
{'_id': ObjectId('64c77223fff3b92bc0bc1c5b'), 'name': 'sona', 'age': 12}
{'_id': ObjectId('64c77223fff3b92bc0bc1c5c'), 'name': 'samir', 'age': 26}
{'_id': ObjectId('64c7727dfff3b92bc0bc1c5d'), 'name': 'mona', 'age': '20'}
{'_id': ObjectId('64c7727dfff3b92bc0bc1c5e'), 'name': 'sona', 'age': '12'}
{'_id': ObjectId('64c7727dfff3b92bc0bc1c5f'), 'name': 'samir', 'age': '26'}
{'_id': ObjectId('64c77f8dfff3b92bc0bc1c60'), 'name': 'mahima', 'id': '101', 'class': 'data science'}
{'_id': ObjectId('64c77f92fff3b92bc0bc1c61'), 'name': 'nilima', 'id': '102', 'class': 'dsa'}
{'_id': ObjectId('64c77f92fff3b92bc0bc1c62'), 'name': 'vasudha', 'id': '103', 'class': 'web dev'}
{'_id': ObjectId('64c77f92fff3b92bc0bc1c63'), 'name': 'harsh', 'id': '104', 'class': 'data anlytics'}

In [ ]:
#Q.5
#We can use the find () method to query Mongodb database as:

In [77]:
data_record=[
    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Machine Learning with Deployment'},

    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Deep Learning for NLP and Computer vision'},

    {'companyName': 'iNeuron',
     'product': 'Master Program',
     'courseOffered': 'Data Science Masters Program'}
]

In [78]:
collection.insert_many(data_record)

In [ ]:
# To find data with particular key-value pair...

In [79]:
for i in collection.find({"product":"Affordable AI"}):
    print(i)

{'_id': ObjectId('64c77faafff3b92bc0bc1c64'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('64c77faafff3b92bc0bc1c65'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}

In [88]:
data_rec=[{"marks":'40',"sub":"hindi"},
          {"marks":'60',"sub":"english"},
          {"marks":'90',"sub":"ip"},
          ]

In [89]:
collection.insert_many(data_rec)

In [81]:
# To find the marks less than and equal to 60...

In [91]:
for i in collection.find({"marks":{"$lte":'60'}}):
  print(i)

{'_id': ObjectId('64c78147fff3b92bc0bc1c67'), 'marks': '40', 'sub': 'hindi'}
{'_id': ObjectId('64c78147fff3b92bc0bc1c68'), 'marks': '60', 'sub': 'english'}

In [ ]:
# Q.6 Sorting is the process of arranging data in a certain order, such as ascending or descending. In MongoDB, you can use the sort() method to sort documents in a collection by one or more fields. The sort() method takes a document as a parameter that specifies the field name and the sort order, either 1 for ascending or -1 for descending.

In [59]:
test10=[{"name":"mona","age":"20"},
        {"name":"sona","age":"12"},
        {"name":"samir","age":"26"},
]

In [60]:
collection.insert_many(test10)

In [70]:
cursor=collection.find().sort([("age",-1)])
for doc in cursor:
  print(doc)

{'_id': ObjectId('64c770f8fff3b92bc0bc1c59'), 'name': 'samir', 'age': '26'}
{'_id': ObjectId('64c7727dfff3b92bc0bc1c5f'), 'name': 'samir', 'age': '26'}
{'_id': ObjectId('64c770f8fff3b92bc0bc1c57'), 'name': 'mona', 'age': '20'}
{'_id': ObjectId('64c7727dfff3b92bc0bc1c5d'), 'name': 'mona', 'age': '20'}
{'_id': ObjectId('64c770f8fff3b92bc0bc1c58'), 'name': 'sona', 'age': '12'}
{'_id': ObjectId('64c7727dfff3b92bc0bc1c5e'), 'name': 'sona', 'age': '12'}
{'_id': ObjectId('64c77223fff3b92bc0bc1c5c'), 'name': 'samir', 'age': 26}
{'_id': ObjectId('64c77223fff3b92bc0bc1c5a'), 'name': 'mona', 'age': 20}
{'_id': ObjectId('64c77223fff3b92bc0bc1c5b'), 'name': 'sona', 'age': 12}

In [ ]:
""" Q.7
     * The deleteOne() function is used to delete the first document that matches the conditions from the collection.
       The syntax for deleting one document in MongoDB is:

       db.collection.deleteOne(<filter>)
       where <filter> is a document that specifies the deletion criteria using query operators. For example, to delete the first document in the products collection where the name field is “Book”, you can use this command:

       db.products.deleteOne({name: “Book”})

     * The delete_many() is used when one needs to delete more than one document.
       The syntax of the method is:

       db.collection.deleteMany(<filter>, <options>)
       where <filter> is a document that specifies the deletion criteria using query operators, and <options> is an optional document that specifies additional parameters, such as write concern, collation, and hint. For example, to delete all the documents in the products collection where the price field is less than 10, you can use this command:

       db.products.deleteMany({price: {$lt: 10}})

     * The drop() command is used to drop an existing database. This will delete the selected database.
       The basic syntax of the drop command is:

       db.collection.drop()
       where collection is the name of the collection you want to drop.